<h1>Welcome Back, Login</h1>
<form>
    <div class="form-group">
        <input #emailControl="ngModel" appEmailValidator appHover type="email" class="form-control" required name="email" [(ngModel)]="email" placeholder="Enter Email">
    </div>
    <div class="alert alert-danger" *ngIf="emailControl.errors?.['invalidEmail']">
         Email Should not Contain test
    </div>
    <div class="form-group">
        <input appHover type="text" class="form-control" required name="password" [(ngModel)]="password" placeholder="Enter Password">
    </div>
    <div class="form-group">
        <button (click)="login()" class="btn btn-primary">Login</button>
    </div>
</form>
